<div class="body" style="background-color: #F3F6F9;">
    <div >
        <h1 align="center" style="color: red;">{{erreur}}</h1>
        <h1 align="center" style="text-transform: uppercase;">{{ liste.usage_type }}</h1>
    </div>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <canvas id="voice_o_amnt_chart"></canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <canvas id="sms_o_amnt_chart"></canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <canvas id="data_amnt_chart"></canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <canvas id="voice_vas_amnt_chart"></canvas>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <canvas id="sms_vas_amnt_chart"></canvas>
            </div>
        </div>
    </div>
</div>