<!DOCTYPE html>
<html>
  <head><link rel="icon" src="/assets/image/orange.png"></head>
  <body>
    <div class="header">
      <img width="100px" src="/assets/image/orange.png">
    </div>
    <input type="checkbox" id="active">
    <label for="active" class="menu-btn"><span></span></label>
    <label for="active" class="close"></label>
    <div class="wrapper">
      <ul>
        <li><a [routerLink]="['/liste_retraitement']">Retraitement</a></li>
        <li><a href="#">Deshboard</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </div>
<router-outlet></router-outlet>
<br>
</body>
<footer>
      <p>Copyright © 2023 Orange Madagascar.All rights reserved.&nbsp; &nbsp;</p>
</footer>
</html>
