<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="rounded h-100 p-4">
                <h4 style="color: red;" align="center">{{ erreur }}</h4>
                <h4 class="mb-4" style="text-transform: uppercase; text-align: center;">{{ liste.usage_type }}</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr align="center">
                                <th scope="col">Date</th>
                                <th scope="col">Etat</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of liste.data" align="center">
                                
                                <td style="padding-top: 10px;" *ngIf="list.validation == 0"> {{ list.day | date : "dd-MM-YYYY"}}</td>
                                <td style="padding-top: 10px;color: rgb(0, 34, 255);" *ngIf="list.validation == 0">OK</td>
                                <td *ngIf="list.validation == 0"></td>
                                <td *ngIf="list.validation == 0"></td>
                                <td *ngIf="list.validation == 0"></td>


                                <td style="padding-top: 25px;" *ngIf="list.validation == 1"> {{ list.day | date : "dd-MM-YYYY"}}</td>
                                <td style="padding-top: 25px;color: red;" *ngIf="list.validation == 1 && list.execution != 1">NOK</td>
                                <td *ngIf="list.validation == 1 && list.execution != 1"><a [routerLink]="['/retraitement']" [queryParams]="{day : list.day | date : 'YYYY-MM-dd',type:type}"><button type="button" class="btn btn-outline-danger m-2">Retraitement</button></a></td>
                                <td *ngIf="list.validation == 1 && list.execution != 1"><a><button type="button" class="btn btn-outline-primary m-2" (click)="open(mymodal,list.day ,type)">Log</button></a></td>
                                <td *ngIf="list.validation == 1&& list.execution != 1"><a [routerLink]="['/details']" [queryParams]="{day : list.day | date : 'YYYY-MM-dd',type:type}"><button type="button" class="btn btn-outline-warning m-2">Details</button></a></td> 

                                <td style="padding-top: 25px;color: grey;" *ngIf="list.validation == 1 && list.execution == 1">En cours...</td>
                                <td *ngIf="list.validation == 1 && list.execution == 1"><a><button type="button" class="btn btn-outline-secondary m-2" disabled>Retraitement en cours</button></a></td>
                                <td *ngIf="list.validation == 1 && list.execution == 1"><a><button type="button" class="btn btn-outline-primary m-2" (click)="open(mymodal,list.day ,type)">Log</button></a></td>
                                <td *ngIf="list.validation == 1 && list.execution == 1"><a [routerLink]="['/details']" [queryParams]="{day : list.day | date : 'YYYY-MM-dd'  ,type:type}"><button type="button" class="btn btn-outline-warning m-2">Details</button></a></td>                        
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div align="center" style="display: inline;">
            <div>{{ page }}</div>
            <div style="display: inline;" *ngIf="page != 1" (click) = "change_page(-1)"><button class="btn btn-outline-primary m-2" >Previous</button></div>
            <div style="display: inline;" *ngIf="check_next() == 1"><button class="btn btn-outline-primary m-2" (click) = "change_page(1)">Next</button></div>
        </div>
    </div>
</div>

<ng-template #mymodal let-modal>  
    <div class="modal-header">  
      <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>  
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">  
        <span aria-hidden="true">?</span>  
      </button>  
    </div>  
    <div class="modal-body">  
        <div class="log-window" *ngIf="erreur_log == ''">
            <div class="log-message" >
                <pre>{{log}}</pre>
            </div>
        </div> 
        <div style="text-transform: uppercase;color: red;" *ngIf="erreur_log!=''" align="center">
            {{erreur_log}}
        </div>
    </div>  
    <div class="modal-footer">  
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>  
    </div>  
  </ng-template>  