<div>
    <h1>Bundle</h1>
    <table border="1">
        <tr>
            <td>Date</td>
        </tr>
        <tr *ngFor="let bundle of bundlelist">
            <td> {{ bundle.day | date : "dd-MM-YYYY"}}</td>
            <td *ngIf="bundle.validation == 1">
                <button>Retraitement</button>
            </td>
            <td *ngIf="bundle.validation == 1">
                Voir details
            </td>
            <td *ngIf="bundle.validation == 0">
                OK
            </td>
        </tr>
        
    </table>
</div>
<div>
    <h1>Topup</h1>
    <table border="1">
        <tr>
            <td>Date</td>
        </tr>
        <tr *ngFor="let topup of topuplist">
            <td> {{ topup.day | date : "dd-MM-YYYY"}}</td>
            <td *ngIf="topup.validation == 1">
                <button>Retraitement</button>
            </td>
            <td *ngIf="topup.validation == 1">
                Voir details
            </td>
            <td *ngIf="topup.validation == 0">
                OK
            </td>
        </tr>
        
    </table>
</div>
<div>
    <h1>Orange Money</h1>
    <table border="1">
        <tr>
            <td>Date</td>
        </tr>
        <tr *ngFor="let om of omlist">
            <td> {{ om.day | date : "dd-MM-YYYY"}}</td>
            <td *ngIf="om.validation == 1">
                <button>Retraitement</button>
            </td>
            <td *ngIf="om.validation == 1">
                Voir details
            </td>
            <td *ngIf="om.validation == 0">
                OK
            </td>
        </tr>
        
    </table>
</div>
<div>
    <h1>Usage</h1>
    <table border="1">
        <tr>
            <td>Date</td>
        </tr>
        <tr *ngFor="let usage of usagelist">
            <td> {{ usage.day | date : "dd-MM-YYYY" }}</td>
            <td *ngIf="usage.validation == 1">
                <button>Retraitement</button>
            </td>
            <td *ngIf="usage.validation == 1">
                Voir details
            </td>
            <td *ngIf="usage.validation == 0">
                OK
            </td>
        </tr>
        
    </table>
</div>

<div>
    <h1>Ec</h1>
    <table border="1">
        <tr>
            <td>Date</td>
        </tr>
        <tr *ngFor="let ec of eclist">
            <td> {{ ec.day | date : "dd-MM-YYYY" }}</td>
            <td *ngIf="ec.validation == 1">
                <button>Retraitement</button>
            </td>
            <td *ngIf="ec.validation == 1">
                Voir details
            </td>
            <td *ngIf="ec.validation == 0">
                OK
            </td>
        </tr>
        
    </table>
</div>