<div >
    <div id="bundle">
        <h1>Bundle</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Etat</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bundle of bundlelist">
                    <td> {{ bundle.day | date : "dd-MM-YYYY"}}</td>
                    <td class="nok" *ngIf="bundle.validation == 1">
                        NOK
                    </td>
                    <td *ngIf="bundle.validation == 1">
                        <button class="retraitement">Retraitement</button>
                    </td>
                    <td *ngIf="bundle.validation == 1">
                        <a [routerLink]="['/details']" [queryParams]="{day : bundle.day | date : 'YYYY-MM-dd',type:2}"><button class="details">details</button></a>
                    </td>
                    <td style="color: green;" colspan="3" *ngIf="bundle.validation == 0">
                        OK
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="topup">
        <h1>Topup</h1>
        <table >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let topup of topuplist">
                <td> {{ topup.day | date : "dd-MM-YYYY"}}</td>
                <td class="nok" *ngIf="topup.validation == 1">
                    NOK
                </td>
                <td *ngIf="topup.validation == 1">
                    <button class="retraitement">Retraitement</button>
                </td>
                <td *ngIf="topup.validation == 1">
                    <a [routerLink]="['/details']" [queryParams]="{day : topup.day | date : 'YYYY-MM-dd',type : 3}"><button class="details">details</button></a>
                </td>
                <td style="color: green;" colspan="3" *ngIf="topup.validation == 0">
                    OK
                </td>
            </tr>
            
        </table>
    </div>
    <div id="om">
        <h1>Orange Money</h1>
        <table >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let om of omlist">
                    <td> {{ om.day | date : "dd-MM-YYYY"}}</td>
                    <td class="nok" *ngIf="om.validation == 1">
                        NOK
                    </td>
                    <td *ngIf="om.validation == 1">
                        <button class="retraitement">Retraitement</button>
                    </td>
                    <td *ngIf="om.validation == 1">
                        <a [routerLink]="['/details']" [queryParams]="{day : om.day | date : 'YYYY-MM-dd',type : 4}"><button class="details">details</button></a>
                    </td>
                    <td style="color: green;" colspan="3"  *ngIf="om.validation == 0">
                        OK
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div id="usage">
        <h1>Usage</h1>
        <table >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let usage of usagelist">
                <td> {{ usage.day | date : "dd-MM-YYYY" }}</td>
                <td class="nok" *ngIf="usage.validation == 1">
                    NOK
                </td>
                <td *ngIf="usage.validation == 1">
                    <button class="retraitement">Retraitement</button>
                </td>
                <td *ngIf="usage.validation == 1">
                    <a [routerLink]="['/details']" [queryParams]="{day : usage.day | date : 'YYYY-MM-dd', type : 1}"><button class="details">details</button></a>
                </td>
                <td style="color: green;" colspan="3" *ngIf="usage.validation == 0">
                    OK
                </td>
            </tr>
            
        </table>
    </div>
    
    <div id="ec">
        <h1>Lany credit</h1>
        <table >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let ec of eclist">
                <td> {{ ec.day | date : "dd-MM-YYYY" }}</td>
                <td class="nok" *ngIf="ec.validation == 1">
                    NOK
                </td>
                <td *ngIf="ec.validation == 1">
                    <button class="retraitement">Retraitement</button>
                </td>
                <td *ngIf="ec.validation == 1">
                    <a [routerLink]="['/details']" [queryParams]="{day : ec.day | date : 'YYYY-MM-dd',type : 5}"><button class="details">details</button></a>
                </td>
                <td style="color: green;" colspan="3" *ngIf="ec.validation == 0">
                    OK
                </td>
            </tr>
            
        </table>
    </div>
    
    <div id="e-rc">
        <h1>E-Recharge</h1>
        <table >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let erc of e_rclist">
                <td> {{ erc.day | date : "dd-MM-YYYY" }}</td>
                <td class="nok" *ngIf="erc.validation == 1">
                    NOK
                </td>
                <td *ngIf="erc.validation == 1">
                    <button class="retraitement">Retraitement</button>
                </td>
                <td *ngIf="erc.validation == 1">
                    <a [routerLink]="['/details']" [queryParams]="{day : erc.day | date : 'YYYY-MM-dd',type : 6}"><button class="details">details</button></a>
                </td>
                <td style="color: green;" colspan="3" *ngIf="erc.validation == 0">
                    OK
                </td>
            </tr>
            
        </table>
    </div>
    <div id="e-rc">
        <h1>Roaming</h1>
        <table >
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Etat</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr *ngFor="let roaming of roaminglist">
                <td> {{ roaming.day | date : "dd-MM-YYYY" }}</td>
                <td  class="nok" *ngIf="roaming.validation == 1">
                    NOK
                </td>
                <td *ngIf="roaming.validation == 1">
                    <button class="retraitement">Retraitement</button>
                </td>
                <td *ngIf="roaming.validation == 1">
                    <a [routerLink]="['/details']" [queryParams]="{day : roaming.day | date : 'YYYY-MM-dd',type : 7}"><button class="details">details</button></a>
                </td>
                <td style="color: green;" colspan="3" *ngIf="roaming.validation == 0">
                    OK
                </td>

            </tr>
            
        </table>
    </div>
</div>