<div style="background-color: #F3F6F9;" class="content">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form (ngSubmit)="login()">
        <h3>Connexion</h3>
    
        <label for="username">Identifiant :</label>
        <input type="text" name="username" placeholder="Identifiant" id="username" [(ngModel)]="username">
    
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" placeholder="Password" id="password" [(ngModel)]="password">
        <br>
        <div *ngIf="error != ''" style="color: red;text-decoration-style: solid;" align="center">{{ error }}</div>
        <button type="submit" >Se connecter</button>
    </form>
</div>